@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96.1%;
    --foreground: 48 85% 6%;
    --card: 0 0% 100%;
    --card-foreground: 48 85% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 48 85% 6%;
    --primary: 48 85% 6%;
    --primary-foreground: 68 93% 45%;
    --secondary: 240 4.8% 93%;
    --secondary-foreground: 48 85% 6%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 68 93% 45%;
    --accent-foreground: 48 85% 6%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 88%;
    --input: 240 5.9% 88%;
    --ring: 48 85% 6%;
    --radius: 0.75rem;
  }
 
  .dark {
    --background: 48 85% 6%;
    --foreground: 0 0% 95.7%;
    --card: 0 0% 16.5%;
    --card-foreground: 0 0% 95.7%;
    --popover: 48 85% 6%;
    --popover-foreground: 0 0% 95.7%;
    --primary: 0 0% 95.7%;
    --primary-foreground: 48 85% 6%;
    --secondary: 0 0% 16.5%;
    --secondary-foreground: 0 0% 95.7%;
    --muted: 0 0% 16.5%;
    --muted-foreground: 0 0% 67%;
    --accent: 68 93% 45%;
    --accent-foreground: 48 85% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 68 93% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Martian Mono', monospace;
    @apply transition-colors duration-300 ease-in-out;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .card, .button, h1, p, div, header, footer, main, section, nav, input, label, span {
    @apply transition-colors duration-300 ease-in-out;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
